/*样式重置*/

body h1 h2 h3 h4 h5 h6 p  dl dd ul ol form input textarea th td select {
	margin:0;
	padding:0;
}
em{
	font-style: normal;
}
li{
	list-style: none;  /*li列表去掉1 2 3 的标志*/
}
a{
	text-decoration: none;  /* a标签去掉下滑线 */
}
img{
	border:none; 
	vertical-align: top;   /*图片的引进会有边框 去除边框*/
}
table{
	border-collapse: collapse; /*表格之间会有间隙*/
}
input,textarea{
	outline: none;   /*将输入框点击时的高光显示去掉*/
}
textarea{
	resize: none;   /*清除输入文本框时会自动变大变小的情况*/
	overflow: auto;  /*可以使文本框没有左边的边界条*/
}
body{
	font-size: 12px;
	font-family: "微软雅黑"；
}


/*public*/
.clear{zoom:1;}  /*  父级请浮动 */
.clear.after{content: '' ; display:block; clear:both;} /* content 表示的是一个空的字符 设置成块状 */
.fl{float:left;}
.fr{float:right;}
.gradient{
width:200px;
height:200px;
border:1px solid #333;
background: -webkit-linear-gradient(top,#ffffff,#f8f8f8);/* ie浏览器的渐变*/
/*background: -moz-linear-gradient:(top #ffffff #f8f8f8);
background: -ms-linear-gradient:(top #ffffff #f8f8f8);
background: linear-gradient:(top red #ffffff #f8f8f8);*/		
/* 实现渐变 webkit 为内核前缀  火狐用moz  ie浏览器是ms*/	

			/*对于ie9 需要加过滤器*/
		/*+background:#ff7a00;*/

}
/*公共元素 三角形*/
.triangle_up,.triangle_down_red,.triangle_down_gray{position:absolute;width:0;height:0; overflow: hidden;border-left:4px solid transparent ;border-right:4px solid transparent ; _border-left:4px solid #fff ; _border-right:4px solid #fff ;}
#search .triangle_up{left:0;top:0;border-bottom:4px solid #ca0309;}
#search .triangle_down_red{border-top:4px solid #ca0309;}/*最后两句是给ie6的*//*最后两句是给ie6的*/
#search .triangle_down_gray{border-top:4px solid #c4bdbd;}
.div2{
width:400px;
height:400px;
border:1px solid  #333;
border-radius: 0 0 80px 20px; /* ie 678 不支持圆角*/
		}

/*layout*/
#header,#nav,.content, #footer{width:960px; margin: 0 auto;}
#search,#footer,.section,.side-section{ border:1px solid #bdbdbd; }

body{margin-bottom: 30px;}
#header{ /*width:960px;*/ height:30px;/* margin:0 auto;*/ border-radius: 0 0 6px 6px;}
#nav{ height:100px; /*width:960px;*/ /*margin:0 auto;*/position: relative;}
#search{width:958px; height:144px;/*border:1px solid #dbdbdb;*/ margin:0 auto 10px; border-radius: 6px;position:relative;}
.content{/*width:960px; margin:0 auto; */display: flex;}
.main{width:710px; }
.section{ width:318px; border-radius: 6px; height:200px;padding:0 15px; /*border:1px solid #dbdbdb;*/margin-bottom: 10px;}
.options{width:350px; height:200px;}
.main-ad{ border-radius: 6px;/*overflow: hidden;*/ margin-bottom:10px; }/* 这里是加了overflow后才有的圆角*/
.side{width:240px;  }
.side-section{ height:60px; /*border:1px solid #bdbdbd ;*/border-radius: 6px; margin-bottom: 10px; padding:12px 12px;}
.side-ad{border:1px solid #bdbdbd ;border-radius: 6px ; /*overflow: hidden;*/ margin-bottom: 10px;}
.ad-border{width:238px; height:88px; border-radius: 6px; margin-bottom: 10px; }
#footer{width: 958px; height:78px; border-radius: 6px; /*border:1px solid #bdbdbd;*/ background: #f9f9f9;/*margin: 0 auto; */}

/*属于option框架中的*/
.options .options-tab{height: 34px;}
.options .options-tab li{ width:172px; height:33px; border:1px solid #dbdbdb; border-bottom:none; border-radius: 6px 6px 0 0;padding:0; }
.options .options-tab .active{width:172px;height:34px;background:#fff;}
.options .options-con{ width:348px; height:80px;border:1px solid #dbdbdd; border-radius:0 0 6px 6px;}
 
 /**/
#header .city{float:left;padding-left:20px;}
#header .city a{padding:0 7px;height:13px; border:1px solid #e5e5e5;border-radius:4px; box-shadow: 1px 1px 0 #ededed;background: #fff;color:#999;}
#header .city .active{color:#d60d03;}
#header .city .active:hover{color:#d60d03;background: #fff;}
#header .city a:hover{background: #f1f1f1;}
#header .link{float:right;padding-right:20px;line-height:10px;color:#d5d5d5;word-spacing:4px;}
#header .link a{color:#666; background:url(../images/eimg/header_link_bg.gif) no-repeat;padding-left:20px;}
#header .link a:hover{text-decoration:underline;}
#header .link .ico1{background-position: 0 -27px;}
#header .link .ico2{background-position: 0 -27px;}

#nav ul{position: absolute;top:10px;}
#nav li{float:left;}
#nav li a{display:block;width:66px;padding-top:50px;text-align:center; background:url(../images/eimg/nav_bg.png) no-repeat;}
#nav li a:hover{text-decoration: underline;}
#nav .bg1{background-position: 0 0;}
#nav .bg2{background-position: -66px 0;}
#nav .bg3{background-position: -132px 0;} /*每个间隔都是66px*/
#nav .bg4{background-position: -198px 0;}
#nav .bg5{background-position: -264px 0;}
#nav .bg6{background-position: -330px 0;}
#nav .bg7{background-position: -396px 0;}
#nav .bg8{background-position: -462px 0;}
#nav .bg9{background-position: -528px 0;}
#nav .bg10{background-position: -594px 0;}

#nav .bg1:hover{background-position: 0 -70px;}
#nav .bg2:hover{background-position: -66px -70px;}
#nav .bg3:hover{background-position: -132px -70px;} /*每个间隔都是66px*/
#nav .bg4:hover{background-position: -198px -70px;}
#nav .bg5:hover{background-position: -264px -70px;}
#nav .bg6:hover{background-position: -330px -70px;}
#nav .bg7:hover{background-position: -396px -70px;}
#nav .bg8:hover{background-position: -462px -70px;}
#nav .bg9:hover{background-position: -528px -70px;}
#nav .bg10:hover{background-position: -594px -70px;}
#nav .nav_1{left:5px;}
#nav .nav_2{right:5px;}
#nav h1{width:223px;height:62px;margin: 0 auto;position:relative;top:5px;}


#search .bar{width:958px;height:64px;border:1px solid #c40d0e;position:absolute;top:16px;border-radius:5px;background:#e21c01;box-shadow:2px 3px 2px #e3e3e3;border:1px solid #c40d0e ;}
#search .search-nav{position:absolute;left:226px;top:-40px;}
#search .search-nav li{float:left; width:78px;height:25px;margin-right:1px;box-shadow:1px 1px 0 #f8d0bf;border-radius:5px 5px 0 0;text-align:center;line-height: 25px;font-size:14px;cursor:pointer;border-bottom:none;box-shadow: 1px 0px 2px rgba(0,0,0,0.2);}
#search .search-nav .active{border:1px solid #e21c01;position:relative;top:-1px;height:27px;background:#e21c01;color:#fff;font-weight:bold;border-bottom: none;text-shadow:2px 2px 3px rgba(0,0,0,0.5);}


#search .info-photo{width:163px;height:122px;background:url(../images/eimg/search_img.png) no-repeat;position:absolute;left:32px;top:-3px;z-index:2;}
#search .form{position:absolute; left:226px;top:36px;z-index:3;}
#search .form.text{width:380px; height:22px;padding:0 12px;border:none;background:#fff1ef;border-radius:3px;float:left;margin-right: 10px;color:#ea7a7a;} 
#search .form.btn{width:63px;height:26px;border:none;background:url(../images/eimg/search_img.png) no-repeat -163px 0;float:left;}

#search .introduce{width:206px;color:#fff;line-height: 16px;position:absolute;top:20px; right:36px;}/* 按照绝对定位*/
#search .introduce a{color:#fff;}
#search .introduce a:hover{text-decoration: underline;}

#search .update{}
#search .wrap{}
#search .update ul{}
#search .update li{}
#search .update a{}
#search .update strong{}
#search .update span{}
#search .triangle_up{}
#search .traingle_down_red{}
